---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import Button from '../components/Button.astro';
---

<Layout title={SITE_TITLE}>
	<main class="flex items-center justify-center min-h-screen">
		<div class=" flex items-center justify-center" style="border-radius: 1.75rem; padding: 0.0625rem; background: conic-gradient(#b82222,
		#FFFA00,    /* Red */
		#42FF00,    /* Orange */
		#00F0FF,    /* Yellow */
		#001AFF,    /* Green */
		#B100FF,    /* Blue */
		#b82222);   /* Violet */">
		<div id="toast-container" class="toast"></div>
			<div style="width: 950px; height: 290px; border-radius: 1.75rem;" class="bg-zinc-800" >
				<div class="w-full h-full flex" style="border-radius: 1.75rem; background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(185, 185, 185, 0.068), rgba(185, 185, 185, 0.142));">
					<div class="w-1/3 bg-caramel-pattern bg-contain" style="border-top-left-radius: 1.75rem; border-bottom-left-radius: 1.75rem;">

					</div>
					<div class="w-2/3 mx-auto pr-4" style="border-top-right-radius: 1.75rem; border-bottom-right-radius: 1.75rem;">
						<h3 style="position: relative; top: 8px; font-family:'gg Sans Semibold'; font-size: 32px;" class="text-center">Under Maintenance</h3>
						<p style="position: relative; top: 18px; font-family:'gg Sans'; font-size: 20px;">This page is currently under maintenance and will be online again soon!</p>
						<p style="position: relative; top: 18px; font-family:'gg Sans'; font-size: 20px;">You can check my status page on these networks:</p>
						<div class="relative top-6 mx-24 justify-center content-center flex columns-3  gap-12 text-center">
							<div>
								<p style="font-family:'gg Sans Medium';">[<span class="text-indigo-400"><a href="https://status.caramel.dog/">ICANN</a></span>]<sup><span class="text-xs">[<span class="text-indigo-400"><a href="https://www.iana.org/">?</a></span>]</span></sup></p>
							</div>
							<div>
								<p style="font-family:'gg Sans Medium';">[<span class="text-indigo-400"><a href="https://status.caramel.dn42/">DN42</a></span>]<sup><span class="text-xs">[<span class="text-indigo-400"><a href="https://dn42.dev/">?</a></span>]</span></sup></p>
							</div>
							<div>
								<p style="font-family:'gg Sans Medium';">[<span class="text-indigo-400"><a href="https://status.caramel.xenia/">Xenia</a></span>]<sup><span class="text-xs">[<span class="text-indigo-400"><a href="https://xnia.net/">?</a></span>]</span></sup></p>
							</div>
						</div>
						<p style="position: relative; top: 26px; font-family:'gg Sans'; font-size: 20px;">In the meantime feel free to follow me on the following platforms</p>
						<p style="position: relative; top: 20px; font-family:'gg Sans'; font-size: 20px;">for any news or announcements:</p>
						<div class="relative top-6 mx-auto justify-center content-center flex columns-7 gap-4 text-center">
							<div>
								<p style="font-family:'gg Sans Medium';">[<span class="text-indigo-400"><a href="/blog">Blog</a></span>]</p>
							</div>
							<div>
								<p style="font-family:'gg Sans Medium';">[<span class="text-indigo-400"><a href="https://bsky.app/profile/caramel.dog">Bluesky</a></span>]</p>
							</div>
							<div>
								<p style="font-family:'gg Sans Medium';">[<span class="text-indigo-400"><a href="https://t.me/carameldrop">Telegram</a></span>]</p>
							</div>
							<div>
								<p style="font-family:'gg Sans Medium';">[<span class="text-indigo-400"><a href="https://discord.com/users/498064733925146635">Discord</a></span>]</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(90% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-family: 'gg Sans';
	}
	p {
        font-family: 'gg Sans Medium';
    }
    @font-face {
		font-family: "gg Sans";
		src: url('/gg sans Regular.ttf') format('truetype');
	}
    @font-face {
		font-family: "gg Sans SemiBold";
		src: url('/gg sans Semibold.ttf') format('truetype');
	}
    @font-face {
		font-family: "gg Sans Bold";
		src: url('/gg sans Bold.ttf') format('truetype');
	}
    @font-face {
		font-family: "gg Sans Medium";
		src: url('/gg sans Medium.ttf') format('truetype');
	}
</style>
