---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import Button from '../components/Button.astro';
---

<Layout title={SITE_TITLE}>
	<main class="flex items-center justify-center min-h-screen">
		<Profile name="Candy Creature Caramel" img="/caramel.jpg">
			<div style="box-shadow: inset 2px 2px 1px 0 rgb(0 0 0 / 0.1);" class="bg-stone-800 text-white text-center mt-4 pt-2 pb-6 pl-4 pr-4 rounded-lg">
				<span class="text-neutral-400" style="font-size: 0.75rem; line-height: 1rem;">Want to donate towards what I do?</span>
				<div class="mt-1 flex justify-center flex-row space-x-2">
					<Button title="Ko-Fi Tips" href="https://ko-fi.com/caramelhorse" />
					<Button title="Crypto Tips" href="/blog/crypto-for-p2p" />
				</div>
				<p class="text-sm drop-shadow-md break-words">
					<span class="text-neutral-400" style="font-size: 0.5rem; line-height: 1rem;">Hover or Click for details!</span>
					<br/>
					I am <a href="https://gender.fandom.com/wiki/Fingender"><span title="Fingender" class="ml-1 px-3.5 py-0.25 rounded-sm bg-fin-flag bg-cover"></span></a>, <a href="https://lgbtqia.fandom.com/wiki/Demiromantic"><span title="Demiromantic" class="mr-1 px-3.5 py-0.25 rounded-sm bg-demirom-flag bg-cover"></span></a> and <a href="https://lgbtqia.fandom.com/wiki/Demisexual"><span title="Demisexual" class="ml-1 px-3.5 py-0.25 rounded-sm bg-demisex-flag bg-cover"></span></a>
					<br/>
					I am married to the wonderful <a href="https://devil.horse"><span class="bg-neutral-700 px-1 py-0.75 shadow-sm hover:bg-neutral-600 hover:rounded-lg rounded-md">💍 Mel</span></a>
					<br/>
					I work as a <a href="/cv"><span class="bg-neutral-700 px-1 py-0.75 shadow-sm hover:bg-neutral-600 hover:rounded-lg rounded-md">🌐 System Engineer</span></a>
					<br/><br/>
					I work with <span title="A Creative Co-op" class="text-orange-400"><a href="https://candyhorses.social">Candy Horses</a></span>, spearheading departments 
					<br/>like <span title="Internet Service Provider" class="text-orange-400"><a href="https://saddle.network">Saddle Networks</a></span> and <span title="Land Development" class="text-orange-400"><a href="https://wiki.candyhorses.social/stable-grounds-llc">Stable Grounds</a></span>.
					<br/><br/>
					I operate a few different <span title="Autonomous System Numbers" class="text-orange-400"><a href="https://wiki.carm.ml/asns">ASNs</a></span> on different <span title="Networks parallel to the main Internet" class="text-orange-400"><a href="https://wiki.carm.ml/networks">networks</a></span>.
					<br/>
					<span class="text-neutral-400" style="font-size: 0.7rem; line-height: 1rem;">Looking Glass project on hiatus, check back soon!</span>
					<br/>
					<!--[ <span class="text-orange-400"><a href="https://lg.v4.ms/saddle/">v4 Looking Glass</a></span> ]⠀~⠀[ <span class="text-orange-400"><a href="https://lg.v6.ms/saddle/">v6 Looking Glass</a></span> ]-->
					<br/>
					I work on the following projects:
					<br/>
					<span class="text-neutral-400" style="font-size: 0.7rem; line-height: 1rem;">Not all of these links work yet.</span>
					<br/>
					[ <span class="text-orange-400"><a href="https://xnia.net/">xnia.net</a></span> ]⠀~⠀[ <span class="text-orange-400"><a href="https://dotfur.org/">dotfur.org</a></span> ]⠀~⠀[ <span class="text-orange-400"><a href="https://hors.bio/">hors.bio</a></span> ]
					<br/>
					[ <span class="text-orange-400"><a href="https://noko.pw/">noko.pw</a></span> ]⠀~⠀[ <span class="text-orange-400"><a href="https://deltav.ee/">deltav.ee</a></span> ]⠀~⠀[ <span class="text-orange-400"><a href="https://pony.gg/">pony.gg</a></span> ]
					<br/><br/>
					<span class="text-neutral-400" style="font-size: 0.7rem; line-height: 1rem;">Mirrored on these TLDs:</span>
					<br/>
					[ <span class="text-orange-400"><a href="https://caramel.dog/">.dog</a></span> / <span class="text-orange-400"><a href="https://caramel.horse/">.horse</a></span> / <span class="text-orange-400"><a href="https://caramel.pet/">.pet</a></span> / <span class="text-orange-400"><a href="https://caramel.fur/">.fur</a></span> ]
					<br/>
					<span class="text-neutral-400" style="font-size: 0.7rem; line-height: 1rem;">Mirrored on these networks:</span>
					<br/>
					[ <span class="text-orange-400"><a href="https://caramel.dog/">ICANN</a></span> / <span class="text-orange-400"><a href="https://caramel.dn42/">DN42</a></span> / <span class="text-orange-400"><a href="https://caramel.xenia/">Xenia</a></span> ]
					<br/><br/>
					<span class="text-neutral-400" style="font-size: 0.7rem; line-height: 1rem;">More Info:</span>
					<br/>
					[ <span class="text-orange-400"><a href="https://wiki.carm.ml/">Personal Wiki</a></span> ]
					<br/>
					[ <span class="text-orange-400"><a href="/blog">Read My Blog</a></span> ]
					<br/><br/>
					<span class="text-neutral-400" style="font-size: 0.7rem; line-height: 1rem;">Socials:</span>
					<br/>
					[ <span class="text-orange-400"><a href="https://bsky.app/profile/caramel.dog">Bluesky</a></span> ]
					[ <span class="text-orange-400"><a href="https://steamcommunity.com/id/caramelmare/">Steam</a></span> ]
					<br/><br/>
					<span class="text-neutral-400" style="font-size: 0.7rem; line-height: 1rem;">Characters:</span>
					<br/>
					[ <span class="text-orange-400"><a href="https://derpibooru.org/search?q=oc%3Acaramel+drop">Derpibooru Tag</a></span> ]
					[ <span class="text-orange-400"><a href="https://e621.net/posts?tags=caramel_%28caramel%29">(18+) e621 Tag</a></span> ]
					[ <span class="text-orange-400"><a href="https://wiki.carm.ml/ocs">Characters & Info</a></span> ]
				</p>
			</div>
		</Profile>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(90% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-family: 'gg Sans';
	}
	p {
        font-family: 'gg Sans Medium';
    }
    @font-face {
		font-family: "gg Sans";
		src: url('/gg sans Regular.ttf') format('truetype');
	}
    @font-face {
		font-family: "gg Sans SemiBold";
		src: url('/gg sans Semibold.ttf') format('truetype');
	}
    @font-face {
		font-family: "gg Sans Bold";
		src: url('/gg sans Bold.ttf') format('truetype');
	}
    @font-face {
		font-family: "gg Sans Medium";
		src: url('/gg sans Medium.ttf') format('truetype');
	}
</style>
