---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import Button from '../components/Button.astro';
---

<Layout title={SITE_TITLE}>
	<main class="flex items-center justify-center min-h-screen">

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(90% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-family: 'gg Sans';
	}
	p {
        font-family: 'gg Sans Medium';
    }
    @font-face {
		font-family: "gg Sans";
		src: url('/gg sans Regular.ttf') format('truetype');
	}
    @font-face {
		font-family: "gg Sans SemiBold";
		src: url('/gg sans Semibold.ttf') format('truetype');
	}
    @font-face {
		font-family: "gg Sans Bold";
		src: url('/gg sans Bold.ttf') format('truetype');
	}
    @font-face {
		font-family: "gg Sans Medium";
		src: url('/gg sans Medium.ttf') format('truetype');
	}
</style>
